# ROS2 workspace
build/
install/
log/
*.wsbuild

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
venv/
.venv/

# IDEs / OS
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
**/keybindings.json
c:/

# Misc
*.log
*.pdf
*.sh
*.aux
*.toc
*.out
*.synctex.gz
*.png
!images/*.png
*.gv

# Map cache
submaps/**/*.pcd
